/.emacs.d/.emacs.d/eln-cache/30.2-d3a47193
/.emacs.d/.emacs.d/straight
/.emacs.d/.emacs.d/var
/.emacs.d/.emacs.d/auto-save-list/
/.emacs.d/.emacs.d/history
/.emacs.d/.emacs.d/places
/.emacs.d/.emacs.d/projects
/.emacs.d/.emacs.d/recentf
/.emacs.d/.emacs.d/.lsp-session-v1
/.emacs.d/.emacs.d/elpa
/.emacs.d/.emacs.d/transient/history.el
