/.emacs.d/.emacs.d/.cache
/.emacs.d/.emacs.d/.lsp-session
/.emacs.d/.emacs.d/.lsp-session-v1
/.emacs.d/.emacs.d/eln-cache/30.2-d3a47193
/.emacs.d/.emacs.d/elpa
/.emacs.d/.emacs.d/history
/.emacs.d/.emacs.d/places
/.emacs.d/.emacs.d/recentf
/.emacs.d/.emacs.d/straight
/.emacs.d/.emacs.d/tree-sitter
/.emacs.d/.emacs.d/undo
/nvim/.config/nvim/lazy-lock.json
/.emacs.d/.emacs.d/.init.el.~undo-tree~
/.emacs.d/.emacs.d/auto-save-list/
/.emacs.d/.emacs.d/lisp/mode/.cc-arsyhiy.el.~undo-tree~
/.emacs.d/.emacs.d/lisp/mode/.evil-arsyhiy.el.~undo-tree~
/.emacs.d/.emacs.d/lisp/mode/.my-run-format.el.~undo-tree~
/.emacs.d/.emacs.d/lisp/mode/.python-arsyhiy.el.~undo-tree~
/.emacs.d/.emacs.d/tramp
/.emacs.d/.emacs.d/transient/
/.emacs.d/.emacs.d/custom-vars.el
/.emacs.d/.emacs.d/lisp/.options.el.~undo-tree~
/.emacs.d/.emacs.d/lisp/mode/.css-arsyhiy.el.~undo-tree~
/.emacs.d/.emacs.d/lisp/mode/.dired-arsyhiy.el.~undo-tree~
/.emacs.d/.emacs.d/lisp/mode/.elisp-arsyhiy.el.~undo-tree~
/.emacs.d/.emacs.d/lisp/mode/.js-arsyhiy.el.~undo-tree~
/.emacs.d/.emacs.d/lisp/mode/.lsp-arsyhiy.el.~undo-tree~
/.emacs.d/.emacs.d/lisp/mode/.markdown-arsyhiy.el.~undo-tree~
/.emacs.d/.emacs.d/lisp/mode/.my-modeline.el.~undo-tree~
/.emacs.d/.emacs.d/lisp/mode/.typescript-arsyhiy.el.~undo-tree~
/.emacs.d/.emacs.d/lisp/ui/.modeline-arsyhiy.el.~undo-tree~
/.emacs.d/.emacs.d/lisp/ui/.themes-arsyhiy.el.~undo-tree~
