# Template config for setup.sh

# Install Debian packages?
DO_APT=true

# Install Flatpak apps?
DO_FLATPAK=true

# Clone Git repositories?
DO_GIT=true

# Run dry-run mode (no actual installation)
DRY_RUN=false

# Run 'apt update' before installing
APT_UPDATE=true

# Log file for failed installations
LOG_FILE="failed_packages.log"

