# Template config for setup.sh

# are you install packages?
INSTALL=false

# are config configin?
CONFIG_DONE=false

# Log file for failed installations
LOG_FILE="packages.log"

# othes thig is was done
OTHER=false
